# start gnome keyring
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

# setup ibus
export GTK_IM_MODULE=ibus
export XMODIFIRES=@im=ibus
export QT_IM_MODULE=ibus

# vim:ft=sh:ts=4:sts=4:sw=4:et:
